.seccion-games-ocio {
  background-position: center;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat( 12, calc(100% / 12) );
  grid-template-rows: repeat( 12, calc(100% / 12) );
  width: 100vw;
  z-index: 999;

  .tit-games-tech {
    align-items: center;
    display: flex;
    flex-direction: column;
    grid-column: 1 / 12;
    grid-row: 2 / 3;
    justify-content: center;

    .text-games {
      display: flex;
      font-family: $tipoEspecial;
      font-size: calc(1em + 6vw);
      font-weight: 700;
      line-height: 1;
      position: relative;
      text-transform: uppercase;
      width: max-content;
      z-index: 99;

      .txt-ampersand {
        background-size: contain;
        color: #fff;
        font-family: Arial,Helvetica,sans-serif;
        padding: 0 5%;
        background-repeat: no-repeat;
      }
    }
  }

  .columna-especial {
    grid-column: 1 / 4;
    grid-row: 5 / 13;
    position: relative;
    z-index: 1;

    @include capa-Imagen($coverImg: cover);
  }

  .cont-logos {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    grid-column: 4 / 12;
    grid-row: 3 / 10;
    position: relative;
    z-index: 3;

    .link-logo {
      flex-basis: calc(80% / 3);
      text-align: center;

      @include capa-Imagen($coverImg: contain);

      img {
        max-width: 225px;
      }
    }
  }

  .columna-uno {
    background-size: cover;
    grid-column: 7 / 11;
    grid-row: 8 / 12;
    padding: 8% 1% 0% 6%;

    img {
      height: 89%;
      object-fit: contain;
      width: 100%;
    }
  }

  .final-seccion-ocio {
    grid-column: 11 / 13;
    grid-row: 1 / 13;

    @include capa-Imagen($coverImg: contain);
  }
}

@media (max-width: 768px) {
  .seccion-games-ocio {
    width: 100vw;
    display: flex;
    flex-direction: column;

    .cont-logos {
      width: 100%;
      justify-content: space-around;

      .link-logo {
        flex-basis: calc(80% / 2);
        text-align: center;
        margin: 4vh 0;
  
        @include capa-Imagen($coverImg: contain);
  
        img {
          max-width: 225px;
        }
      }
    }

    .columna-uno {
      width: 70vw;
      margin: 0 auto 3vh;
    }

    .columna-especial {
      margin: 0 auto;
      max-width: 50vw;
    }

    .final-seccion-ocio {
      position: relative;
  
      @include capa-Imagen($coverImg: contain);

      .final-vertical {
        display: none;
      }
  
      .final-horizontal {
        display: block;
      }
    }
  }
}
