.seccion-escalada-ocio {
  background-size: cover;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat( 15, calc(100% / 15) );
  grid-template-rows: repeat( 6, calc(100% / 6) );
  background-position: bottom;

  .logo-ozone {
    grid-column: 1 / 6;
    grid-row: 2 / 4;
    position: relative;
    z-index: 1;
  }
  
  .capa-bolos {
    grid-column: 1 / 5;
    grid-row: 4 / 6;
    position: relative;
    z-index: 1;

    @include capa-Imagen($coverImg: contain);
  }

  .logo-climbat {
    grid-column: 5 / 9;
    grid-row: 1 / 3;
    position: relative;
    z-index: 1;

    @include capa-Imagen($coverImg: contain);
  }

  .escalador {
    grid-column: 4 / 9;
    grid-row: 1 / 7;
    
    @include capa-Imagen($coverImg: contain);
  }

  .ongravity {
    grid-column: 9 / 16;
    grid-row: 1 / 7;
    position: relative;
    z-index: 19;

    @include capa-Imagen($coverImg: cover);

    .link-ocio {
      display: block;
    }
  }

  .camino-escalada {
    bottom: -1vh;
    height: 103vh;
    position: absolute;
    right: -19vw;
    z-index: 0;
  }
}

@media (max-width: 768px) {
  .seccion-escalada-ocio {
    background-size: cover;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat( 12, calc(100% / 12) );
    grid-template-rows: repeat( 12, calc(100% / 12) );
    background-position: bottom;

    .logo-ozone {
      grid-column: 1 / 6;
      grid-row: 2 / 4;
      position: relative;
      z-index: 1;
  
      @include capa-Imagen($coverImg: contain);
    }
    
    .capa-bolos {
      grid-column: 1 / 6;
      grid-row: 4 / 6;
      position: relative;
      z-index: 1;
  
      @include capa-Imagen($coverImg: contain);
    }
  
    .logo-climbat {
      grid-column: 9 / 13;
      grid-row: 1 / 3;
      position: relative;
      z-index: 1;
  
      @include capa-Imagen($coverImg: contain);
    }
  
    .escalador {
      grid-column: 6 / 13;
      grid-row: 1 / 7;
  
      @include capa-Imagen($coverImg: contain);
    }
  
    .ongravity {
      grid-column: 1 / 13;
      grid-row: 7 / 13;
  
      @include capa-Imagen($coverImg: cover);
    }
  
    .camino-escalada {
      bottom: -1vh;
      height: 100vh;
      position: absolute;
      right: 0;
      z-index: 0;
    }
  }
}
