.seccion-surf-ocio {
  background-size: cover;
  width: 80vw;
  display: grid;
  grid-template-columns: repeat( 12, calc(100% / 12) );
  grid-template-rows: repeat( 12, calc(100% / 12) );
  background-position: bottom;

  .columna-uno-surf {
    grid-column: 1 / 3;
    grid-row: 1 / 4;

    @include capa-Imagen($coverImg: contain);
  }

  .columna-central-surf {
    grid-column: 1 / 7;
    grid-row: 4 / 13;
    position: relative;
    display: flex;
    align-self: stretch;
    z-index: 1;

    img {
      height: 100%;
    }
  }

  .columna-derecha-surf {
    grid-column: 6 / 10;
    grid-row: 2 / 8;

    @include capa-Imagen($coverImg: contain);
  }
}

@media (max-width: 768px) {
  .seccion-surf-ocio {
    background-size: cover;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat( 12, calc(100% / 12) );
    grid-template-rows: repeat( 12, calc(100% / 12) );
    background-position: bottom;
    min-height: 60vh;
  
    .columna-uno-surf {
      grid-column: 1 / 5;
      grid-row: 1 / 5;
  
      @include capa-Imagen($coverImg: contain);
    }
  
    .columna-central-surf {
      grid-column: 1 / 11;
      grid-row: 2 / 13;
      position: relative;
      display: flex;
      align-self: stretch;
      z-index: 1;
  
      @include capa-Imagen($coverImg: contain);
    }
  
    .columna-derecha-surf {
      grid-column: 8 / 11;
      grid-row: 2 / 6;
  
      @include capa-Imagen($coverImg: contain);
    }
  }
}
