.seccion-fitness-ocio {
  background-size: cover;
  width: 70vw;
  display: grid;
  grid-template-columns: repeat( 6, calc(100% / 6) );
  grid-template-rows: repeat( 6, calc(100% / 6) );
  background-position: bottom;
  padding: 0 5vw;
  z-index: 99;

  .col-sup-uno {
    grid-column: 1 / 3;
    grid-row: 2 / 5;
    display: flex;
    background-size: contain;
    padding: 9% 10%;

    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
  }

  .col-sup-dos {
    grid-column: 3 / 5;
    grid-row: 2 / 5;
    display: flex;
    background-size: contain;
    padding: 9% 10%;
    position: relative;
    z-index: 99;

    img {
      width: 100%;
      height: 50%;
      object-fit: cover;
    }
  }

  .col-sup-tres {
    grid-column: 5 / 7;
    grid-row: 1 / 5;
    display: flex;
    flex-direction: column;

    img {
      width: 100%;
      height: 70%;
      object-fit: contain;
    } 
  }

  .col-inf-uno {
    grid-column: 1 / 4;
    grid-row: 5 / 6;

    .tit-fitness {
      font-family: $tipoEspecial;
      font-size: calc(1em + 6vw);
      font-weight: 700;
      position: relative;
      width: max-content;
      z-index: 99;
      text-transform: uppercase;
    }
  }

  .camino-fitness {
    bottom: -3vh;
    height: 105vh;
    position: absolute;
    right: -40vw;
    z-index: 0;
  }
}

@media (max-width: 768px) {
  .seccion-fitness-ocio {
    width: 100vw;

    .camino-fitness {
      display: none;
    }
  }
}
