.sec-icecream {
  background-position: bottom;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat( 12, calc(100% / 12) );
  grid-template-rows: repeat( 12, calc(100% / 12) );
  padding: 0 2vw 0 5vw;
  width: 100vw;
  z-index: 4;

  .item1-icecream {
    align-items: center;
    align-self: stretch;
    display: flex;
    grid-column: 1 / 10;
    grid-row: 2 / 5;
    justify-content: center;
    position: relative;
    z-index: 999;

    .tit-seccion-icecream {
      font-family: $tipoEspecial;
      font-size: calc(1em + 5vw);
      font-weight: 700;
      line-height: 1;
      text-align: center;
      text-transform: uppercase;
    }
  }

  @include seccion-logos($posicion-col-inicio: 1, $posicion-col-fin: 8, $posicion-row-inicio: 5,  $posicion-row-fin: 11, $numero-col: calc(80% / 5));

  .img-helado {
    grid-column: 8 / 11;
    grid-row: 6 / 12;

    @include capa-Imagen($coverImg: contain);
  }

  .finalSeccion {
    grid-column: 11 / 13;
    grid-row: 1 / 13;
    display: flex;
    justify-content: flex-end;

    img {
      height: 100%;
    }

    .final-vertical {
      display: block;
    }

    .final-horizontal {
      display: none;
    }
  }

  .camino-final {
    bottom: -5vh;
    height: 109vh;
    position: absolute;
    left: 0;
    z-index: 0;
  }
}

@media (max-width: 768px) {
  .sec-icecream {
    
    @include responsive-seccion-completa();
    
    @include responsive-seccion-logos();

    .img-helado {
      max-width: 30vw;
      margin: 0 auto;
    }
  
    .finalSeccion {
      grid-column: 1 / 3;
      grid-row: 11 / 13;
      display: flex;
      justify-content: flex-end;
    
      img {
        height: 100%;
      }

      .final-vertical {
        display: none;
      }
        
      .final-horizontal {
        display: block;
      }
    }

    .camino-final {
     display: none;
    }
  }
}
