.seccion-principal {
  background-position: bottom;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat( 12, calc(100% / 12) );
  grid-template-rows: repeat( 12, calc(100% / 12) );
  width: 100vw;
  z-index: 9;

  .item1-principal {
    align-items: center;
    align-self: flex-end;
    display: flex;
    grid-column: 3 / 5;
    grid-row: 1 / 5;
    justify-content: center;
    position: relative;
    z-index: 999;

    @include capa-Imagen($coverImg: contain);
  }

  .item2-principal {
    align-items: center;
    align-self: stretch;
    display: flex;
    flex-direction: column;
    grid-column: 6 / 8;
    grid-row: 1 / 5;

    .div-logo-pizza-uno {
      height: 100%;
      position: relative;

      @include capa-Imagen($coverImg: contain);

      .producto-pizza-uno {
        position: absolute;
      }
    }
  }

  .item3-principal {
    align-self: stretch;
    display: flex;
    grid-column: 8 / 11;
    grid-row: 2 / 6;

    @include capa-Imagen($coverImg: contain);
  }

  .item4-principal {
    align-items: center;
    display: flex;
    grid-column: 10 / 13;
    grid-row: 3 / 10;
    justify-content: center;

    @include capa-Imagen($coverImg: contain);
  }

  .item5-principal {
    align-items: center;
    display: flex;
    grid-column: 1 / 9;
    grid-row: 5 / 11;
    justify-content: center;

    .text-intro {
      background: url("https://x-madrid.santacc.homes/wp-content/themes/xmadtema/resources/images/taste/principal/Taste.gif");
      -webkit-background-clip: text;
      background-position: center;
      background-repeat: repeat;
      background-size: cover;
      font-family: $tipoEspecial;
      font-size: calc( 1em + 14vw );
      font-weight: 800;
      line-height: calc( 1em - 1vw );
      position: relative;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px black;
      width: min-content;
      z-index: 99;

      .div-emoji {
        max-width: 4vw;
        position: absolute;
        right: 0;
        top: 10vh
      }
  
      .div-huevo-frito {
        bottom: 0;
        max-width: 4vw;
        position: absolute;
        right: -1vw;
      }
    }
  }

  .menusEspeciales {
    grid-column: 8 / 10;
    grid-row: 7 / 11;
    position: relative;
    z-index: 10;

    .selec-tipo-menu{
      align-items: center;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      margin-bottom: 10%;

      .img-menus-especiales {
        margin-right: 4%;
        width: 15%;
      }
      
      .text-menu-especial {
        align-items: center;
        font-size: calc(1rem + 0.5vw);
        text-transform: uppercase;
        width: 85%;
      }

      &:hover {
        cursor: pointer;
        transform: scale(1.2);
      }
    }
  }

  .item6-principal {
    grid-column: 3 / 7;
    grid-row: 11 / 13;

    @include capa-Imagen($coverImg: contain);
  }

  .boton-info {
    grid-column: 10 / 12;
    grid-row: 11 / 12;
    position: relative;
    z-index: 9;
  }

  .camino-taste {
    bottom: -5vh;
    height: 109vh;
    position: absolute;
    right: -19vw;
    z-index: 0;
  }
}

@media (max-width: 768px) {
  .seccion-principal {
    background-position: bottom;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat( 12, calc(100% / 12) );
    grid-template-rows: repeat( 12, calc(100% / 12) );
    min-height: 60vh;
    width: 100vw;
  
    .item1-principal {
      align-items: center;
      align-self: stretch;
      display: flex;
      grid-column: 1 / 10;
      grid-row: 4 / 7;
      justify-content: center;
      position: relative;
      z-index: 999;
  
      @include capa-Imagen($coverImg: contain);
    }
  
    .item2-principal {
      align-items: center;
      align-self: baseline;
      display: flex;
      flex-direction: column;
      grid-column: 2 / 6;
      grid-row: 1 / 5;
  
      .div-logo-pizza-uno {
        height: 100%;
        position: relative;
  
        @include capa-Imagen($coverImg: contain);
  
        .producto-pizza-uno {
          position: absolute;
        }
      }
    }
  
    .item3-principal {
      align-self: stretch;
      display: flex;
      grid-column: 8  / 12;
      grid-row: 1 / 5;
      position: relative;
      z-index: 0;
  
      @include capa-Imagen($coverImg: contain);
    }
  
    .boton-info {
      grid-column: 5 / 7;
      grid-row: 10 / 13;
      position: relative;
      z-index: 9;
    }

    .item4-principal {
      align-items: center;
      display: flex;
      grid-column: 9 / 13;
      grid-row: 2 / 9;
      justify-content: center;
      position: relative;
      z-index: 1;
  
      @include capa-Imagen($coverImg: contain);
    }
  
    .item5-principal {
      align-items: center;
      display: flex;
      grid-column: 2 / 10;
      grid-row: 6 / 10;
      justify-content: center;
  
      .text-intro {
        background: url("https://x-madrid.santacc.homes/wp-content/themes/xmadtema/resources/images/taste/principal/Taste.gif");
        -webkit-text-fill-color: #0000;
        -webkit-background-clip: text;
        background-position: 50%;
        background-repeat: repeat;
        background-size: cover;
        font-family: Oswald,sans-serif;
        font-size: calc(1em + 17vw);
        font-weight: 800;
        line-height: 1;
        position: relative;
        width: -moz-fit-content;
        width: fit-content;
        z-index: 99;
  
        .div-emoji {
          max-width: 7vw;
          position: absolute;
          right: 2vw;
          top: 7vh;
        }
    
        .div-huevo-frito {
          bottom: 0;
          max-width: 50px;
          position: absolute;
          right: -30px;
        }
      }
    }

    .boton-info {
      grid-column: 5 / 8;
      grid-row: 10 / 11;
      position: relative;
      z-index: 9;
    }

    .menusEspeciales {
      display: flex;
      flex-direction: row;
      grid-column: 1 / 13;
      grid-row: 12 / 13;
      position: relative;
      z-index: 10;
  
      .selec-tipo-menu{
        align-items: center;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin-bottom: 10%;
  
        .img-menus-especiales {
          margin-right: 4%;
          width: 15%;
        }
        
        .text-menu-especial {
          align-items: center;
          font-size: calc(1rem + 0.1vw);
          text-transform: uppercase;
          width: 85%;
          line-height: 1;
        }
  
        &:hover {
          cursor: pointer;
          transform: scale(1.2);
        }
      }
    }

    .camino-taste {
     display: none;
    }
  }
}
