.sec-supermarket {
  background-size: cover;
  width: 50vw;
  display: grid;
  grid-template-columns: repeat( 12, calc(100% / 12) );
  grid-template-rows: repeat( 12, calc(100% / 12) );
  z-index: 9;

  .item1-supermarket {
    position: relative;
    grid-column: 1 / 4;
    grid-row: 1 / 13;
    display: flex;
    align-items: center;

    .tit-supermarket {
      font-family: $tipoEspecial;
      font-size: calc(1em + 5vw);
      font-weight: 700;
      line-height: 1;
      text-transform: uppercase;
      writing-mode: vertical-rl;
      transform: rotate(180deg);
    }
  }

  @include seccion-logos-shop($posicion-col-inicio: 4, $posicion-col-fin: 12, $posicion-row-inicio: 2,  $posicion-row-fin: 6, $numero-col: calc(80% / 2), $altura-contenedor: 100%);


  .img-supermarket {
    grid-column: 5 / 12;
    grid-row: 8 / 11;

    @include capa-Imagen($coverImg: contain);
  }

  .iconoSupermercado {
    grid-column: 2 / 6;
    grid-row: 2 / 5;

    @include capa-Imagen($coverImg: contain);
  }
}

@media (max-width: 768px) {
  .sec-supermarket {
    padding: 4% 0;
    background-size: cover;
    width: 100vw;
    display: flex;
    flex-direction: column;
  
    .item1-supermarket {
      position: relative;
      grid-column: 1 / 6;
      grid-row: 1 / 3;
      text-align: center;
  
      .tit-supermarket {
        font-family: $tipoEspecial;
        font-size: calc(1em + 8vw);
        font-weight: 700;
        line-height: 1;
        text-transform: uppercase;
        writing-mode: initial;
        transform: none;
      }
    }
  
    .cont-logos {
      align-items: center;
      align-self: stretch;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 2% 5%;
      grid-column: 1 / 6;
      grid-row: 3 / 6;
      justify-content: space-around;
  
      .link-logo-supermarket {
        flex-basis: calc(80% / 2);
        height: 100%;
        text-align: center;
  
        @include capa-Imagen($coverImg: contain);
  
        img {
          max-width: 225px;
        }
      }
    }

    .img-supermarket {
      max-width: 50vw;
      margin: 0 auto;
    }
  }
}
