.single-evento {
  .capa-volver {
    width: 100%;
    max-width: 1340px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    align-items: center;

    nav {
      display: flex;
      align-items: center;
      width: 100%;
      flex-wrap: none;
      justify-content: center;
    }

    .btn-volver {
      margin: auto auto;
      width: fit-content;
      text-transform: uppercase;
      display: block;
      padding: 5px 2vh;
      font-size: calc(1em + 0.1vw);
      text-align: center;
      color: $blanco;
      background-color: $principal;
      font-weight: bold;
      -webkit-text-stroke: 1px black;

      &:hover {
        color: $blanco;
        background-color: $negro;
        -webkit-text-stroke: 1px $principal;
      }
    }
  }

  .contenedor {
    .panel {
      background-size: contain;
      background-repeat: repeat;
  
      & > div {
        position: relative;
      }
    }

    .cont-principal {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .img-superior {
        position: relative;
        z-index: 99;
        max-width: 800px;
      }
      
      .img-fondo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        filter: grayscale(1) blur(6px) opacity(0.5);
      }
    }

    .cont-texto {
      display: flex;
      width: auto;
      max-width: 1340px;
      margin: 0 auto;
      flex-direction: row;
      flex-wrap: wrap;
      align-self: center;
      align-items: center;
      padding: 2vh 4vw 10vh;

      .titulo-evento {
        color: $principal;
        font-weight: bold;
        margin: 1vh 0;
      }

      .contenido-evento {
        p {
          padding: 1vh 0;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .single-evento {
    .contenedor {
      width: 100%;
      height: auto;
      display: block;
    
      .panel {
        display: flex;
    
        & > div {
          position: relative;
        }
      }
  
      .cont-principal {
        width: max-content;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100vw;

        img {
          width: 100%;
        }
      }
  
      .cont-texto {
        display: flex;
        width: 100vw;
        flex-direction: column;
        flex-wrap: wrap;
        align-self: center;
        align-items: center;
        max-height: inherit;
        padding: 2vh 4vw;
        height: auto;
  
        p {
          width: 90vw;
          padding: 1vh 2vh;
        }
      }
    }
  }
}
