.page-template-template-listadoeventos {
  position: relative;
  min-height: 100vh;

  .titulo-historico {
    font-size: calc(1rem + 5vh);
    text-transform: uppercase;
    line-height: 1.1;
    font-family: Oswald, sans-serif;
    max-width: 1100px;
    font-weight: bold;
    text-align: center;
    padding: 5vh 0;
    width: 100%;
    margin: 0 auto;
    justify-content: center;
  }

  .filtro-anos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: fit-content;
    margin: 2vh auto;

    .fecha-ano {
      background-color: $principal;
      border: $blanco solid 2px;
      color: $blanco;
      border-radius: 5px;
      padding: 5px 20px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      width: max-content;
      text-transform: uppercase;
      font-size: calc(1rem + 1vw);
      margin: 0 auto;
        
      &:hover {
        border: $principal solid 2px;
        color: $principal;
        background-color: transparent;
        cursor: pointer;
      }
    }

    .activo {
      border: $principal solid 2px;
      color: $principal;
      background-color: transparent;
    }
  }

	.titulo-historico {
    display: flex;
    flex-direction: row;
  }

  .panel-historico {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 1400px;
    margin: 0 auto 4vh;
    position: relative;
    z-index: 9;
    justify-content: center;
    column-gap: 1%;

    .items-eventos {
      width: 22%;
      position: relative;
      margin-bottom: 1%;

      .contEventogrid {
        position: absolute;
        bottom: 2%;
        left: 2%;
        z-index: 99;

        .descTitulo {
          background-color: rgba(0, 0, 0, 0.9);
          color: $blanco;
          font-size: calc(1rem + 0.1vw);
          padding: 5px;
        }
        
        .fecEvento {
          margin-top: 1%;
          background-color: rgba(0, 0, 0, 0.9);
          color: $blanco;
          width: fit-content;
          padding: 3px;
        }
      }
      
      .imagen-evento {
        width: 100%;
      }
    }
  }

  .final-seccion-taste {
    position: absolute;
    bottom: 0;
    width: 100%;
    opacity: 0.4;
  }

  @media(max-width: 1024px) {
    .panel-historico {
      .items-eventos {
        width: 32%;
        position: relative;
        margin-bottom: 1%;
      }
    }
  }

  @media(max-width: 768px) {
    .titulo-historico {
      font-size: calc(1rem + 2vh);
      max-width: 100vw;
      padding-top: 10vh;
      padding-bottom: 2vh;
    }

    .panel-historico {
      .items-eventos {
        width: 45%;
        position: relative;
        margin-bottom: 1%;
      }
    }
  }
}
