.page-template-template-experience {
  overflow-x: hidden;
  overflow-y: scroll;

	.fondos-img {
		width: 100.2%;
		height: 100%;
		object-fit: contain;
	}
	
	.contenedor {
		width: 601%;
		height: 95vh;
		display: flex;
		flex-wrap: nowrap;
	
		.panel {
			justify-content: center;
			flex-direction: column;
			font-weight: 600;
			font-size: 1.5em;
			position: relative;
			display: flex;
			justify-content: flex-start;
			grid-column-gap: 2.16vh;
			grid-row-gap: 2.16vh;
			min-width: 90vw;
	
			.row-superior-uno {
				display: flex;
				height: 60vh;
				flex-direction: row;
	
				.composicion-imagenes {
					width: 80%;
				}
	
				.composicion-derecha {
					width: 20%;
				}
			}
	
			.row-inferior-uno {
				display: flex;
				height: 40vh;
				flex-direction: row;
	
				.txt-xmadrid {
					width: 60%;
					color: $principal;
					font-size: 12rem;
					text-align: center;
					font-family: $tipoEspecial;
				}
	
				.img-moto {
					width: 40%;
	
					.txt-moto {
						font-family: $tipoEspecial;
						text-transform: uppercase;
					}
				}
			}
		}
	}
	
	.first-container {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		height: 100vh;
	}
	
	.last-container {
		display: flex;
		height: 100vh;
	}
	
	ul.main-menu {
		position: fixed;
		width: 100vw;
		top: 0;
		height: 100vh;
		left: 0;
		z-index: 999;
		background-color: rgba(256, 256, 256, 0.8);
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		list-style-type: none;
	}
	
	a {
		text-decoration: none;
		color: #000;
	}
	
	
	li{
		margin: 0.1rem 0;
		font-size: 5rem;
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 700;
		text-transform: uppercase;
		line-height: 1;
		text-decoration: none;
		color: #000;
	}
	
	li:hover{
		font-family: 'Roboto Condensed', sans-serif;
		font-weight: 100;
		font-size: 3rem;
		text-transform: uppercase;
		line-height: 5rem;
		text-decoration: none;
		color: #fb0606;
	}
	
	@media (max-width: 767px){
		.contenedor {
			width: 100%;
			height: auto;
			display: block;
		}
	
		.contenedor {
			width: 100%;
			height: auto;
			display: block;
		
			.panel {
				justify-content: center;
				flex-direction: column;
				font-weight: 600;
				font-size: 1.5em;
				text-align: center;
				color: white;
				position: relative;
				display: flex;
				justify-content: flex-start;
				grid-column-gap: 2.16vh;
				grid-row-gap: 2.16vh;
		
				.row-superior-uno {
					display: flex;
					height: 90vh;
					flex-direction: column;
		
					.composicion-imagenes {
						width: 100%;
						flex-grow: 4;
					}
		
					.composicion-derecha {
						flex-grow: 2;
						width: 40%;
					}
				}
		
				.row-inferior-uno {
					display: flex;
					height: auto;
					flex-direction: row;
				}
			}
		}
	
		.fondos-img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: left;
		}
	
		.last-container {
			display: block;
			height: 100vh;
		 
		}
	}
}
