.page-template-template-orgullofriki {
  padding-bottom: 5%;

  .hamburger {
    display: none;
  }

  .cont-superior {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 9;

    .imagen-header {
      width: 100%;
    }
  }

  .presentacion {
    max-width: 1400px;
    width: 90%;
    margin: 1% auto;
    position: relative;
    z-index: 9;
    padding: 2%;
    border-radius: 15px;
    background-color: $blanco;
  }

  .cont-actividades {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    position: relative;
    z-index: 9;
    justify-content: space-between;
    padding: 0;

    .item-actividad {
      width: 100%;
      background-color: $principal;
      padding: 2%;
      margin: 0.5% auto;
      border-radius: 15px;

      .titulo-actividad {
        display: block;
        position: relative;
        color: #fff;
        text-shadow: 0 0 10px $negro;
        text-transform: uppercase;
        font-size: calc(1em + 0.5vw);

        &::after {
          content: "+";
          position: absolute;
          right: 0;
          color:$blanco;
        }
      }

      &:hover {
        cursor: pointer;       
      }
      
      .texto-actividad {
        hr.separador {
          margin: 2% 0;
        }

        display: none;
        color: #fff;
      }
    }

    .item-abierto {
      width: 100%;
      background-color: $blanco;
      color: $negro;

      .texto-actividad {
        display: block;
        color: $negro;
      }

      .titulo-actividad {
        color: $principal;
      }
    }
  } 

  .capa-video {
    position: fixed;
    height: 100vh;
    width: 100vw;
    opacity: 0.3;

    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .texto-explciacion {
    max-width: 1000px;
    width: 80%;
    margin: 2% auto;
    text-align: center;
    line-height: 1.2;
    font-weight: bold;
    font-size: calc(1em + 0.1vw);
    padding: 1%;
    border-radius: 15px;
    background-color: $blanco;
    position: relative;
    z-index: 9;
  }
}