.page-template-template-taste {
	overflow-x: hidden;
	overflow-y: scroll;
	
	.contenedor {
		height: 100vh;
		display: flex;
		flex-wrap: nowrap;
		flex-direction: row;
	
		.panel {
			display: flex;

			& > div {
				position: relative;
			}
		}
		
		@import "../layout/partials/taste/seccion-principal-taste";
		@import "../layout/partials/taste/seccion-mediterranea-taste";
		@import "../layout/partials/taste/seccion-fusion-taste";
		@import "../layout/partials/taste/seccion-around-taste";
		@import "../layout/partials/taste/seccion-cocktails-taste";
		@import "../layout/partials/taste/seccion-icecream-taste";
	}

	.menu-categorias {
		display: flex;
		flex-direction: row;
		position: fixed;
		left: 2vw;
		bottom: 6.5vh;

		.btnMnu {
			background-color: rgba(0, 0, 0, 0.9);
			color: $blanco;
			margin: 0 1%;
			text-transform: uppercase;
			width: max-content;
			white-space: nowrap;
			padding: 0 3%;
			font-size: calc(1em + 0.1vw);
			font-family: $tipoEspecial;

			&:hover {
				background-color: $principal;
				color: $negro;
			}
		}
	}

	.restaurantes-especiales {
		position: fixed !important;
		right: -30vw;
		opacity: 0;
		max-width: 30vw;
		z-index: 9999999;
		top: 0;
		height: 100vh;
		background-color: rgba(256, 256, 256, 1);
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: center;
		padding: 0 2%;
    box-shadow: -5px 1px 21px $principal;

		.btn-capa-cerrar {
			left: 4%;
			position: absolute;
			top: 2%;
			width: 2vw;

			&:hover {
				cursor: pointer;
				transform: rotate(20deg);
			}

			img {
				width: 100%;
			}
		}
		
		.tit-especial {
			font-weight: bold;
			text-align: center;
			display: block;
			width: 100%;
			margin-top: 5%;
    	font-size: calc(1em + 3vh);
			color: $principal;
			text-transform: uppercase;	
		}

		.link-logo-especiales {
			width: 30%;
			padding: 2%;
			display: none;

			img{
				width: 100%;
			}
		}
	}

	@media (max-width: 767px){
		.contenedor {
			width: 100%;
			height: auto;
			display: block;
			padding: 15vh 0 5vh;

			.panel {
				display: block;
			}
		}

		.menu-categorias {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			left: 18vw;
			position: fixed;
			top: 1vh;
			height: 8vh;
			width: 68vw;
			z-index: 9999;
	
			.btnMnu {
				background-color: rgba(0, 0, 0, 0.9);
				color: $blanco;
				margin: 1%;
				text-transform: uppercase;
				width: max-content;
				white-space: nowrap;
				padding: 0 3%;
				font-size: calc(1em + 0.1vw);
				font-family: $tipoEspecial;
	
				&:hover {
					background-color: $principal;
					color: $negro;
				}
			}
		}

		.restaurantes-especiales {
			right: -90vw;
			max-width: 90vw;
	
			.btn-capa-cerrar {
				width: 8vw;
			}
			
			.tit-especial {
				font-size: calc(1em + 1.5vh);
			}
	
			.link-logo-especiales {
				width: 30%;
				padding: 2%;
				display: none;
	
				img{
					width: 100%;
				}
			}
		}
	}
}
