.page-template-template-servicios {
  overflow-x: hidden;
  overflow-y: scroll;

	.contenedor {
		height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

		.panel {
      display: grid;
      grid-template-columns: repeat( 12, calc(100% / 12) );
      grid-template-rows: repeat( 12, calc(100% / 12) );
      height: 100%;
      
      .titSeccion {
        grid-column: 2 / 7;
        grid-row: 2 / 5;
        background-repeat: no-repeat;
        background-size: contain;

        h1 {
          color: #fff;
          font-size: calc(1em + 6vw);
          line-height: 7vh;
          padding: 8%;
          align-items: center;
          text-transform: uppercase;
          width: 100%;
          text-align: center;
          font-family: $tipoEspecial;
        }
      }
      
      .cont-servicios {
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        grid-column: 2 / 12;
        grid-row: 5 / 11;
        gap: 7px;

        .fila-servicios {
          display: flex;
          flex-direction: row;
          flex-wrap: nowrap;
          height: 24%;
          justify-content: flex-end;

          .cont-icono {
            width: 8%;
            height: 100%;

            .titulo-servicio {
              display: none;
            }

            .texto-icono {
              display: none;
            }

            .imgIcono {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }

          .tituloCategorias {
            display: flex;
            font-family: $tipoEspecial;
            align-items: center;
            text-transform: uppercase;
            text-align: center;
            font-size: calc(1em + 0.7vw);
            min-width: 12%;
            padding: 0 2%;
          }
        }
      }

      .imagen-superior {
        grid-column: 8 / 12;
        grid-row: 1 / 5;

        img {
          height: 100%;
          width: 100%;
          object-fit: contain;
        }
      }
		}
  }
}

@media (max-width: 768px) {
  .page-template-template-servicios {
    overflow-x: hidden;
    overflow-y: scroll;
  
    .contenedor {
      height: auto;
      min-height: 100vh;
      background-size: cover;
      background-position: bottom;
  
      .panel {
        display: flex;
        flex-direction: column;
        
        .titSeccion {
          grid-column: 2 / 7;
          grid-row: 2 / 5;
          background-repeat: no-repeat;
          background-size: contain;
  
          h1 {
            color: #fff;
            font-size: calc(1em + 6vw);
            line-height: 7vh;
            padding: 8%;
            align-items: center;
            text-transform: uppercase;
            width: 100%;
            text-align: center;
            font-family: $tipoEspecial;
          }
        }
        
        .cont-servicios {
          display: flex;
          flex-direction: column;
          flex-wrap: nowrap;
          grid-column: 2 / 12;
          grid-row: 5 / 11;
          gap: 7px;
  
          .fila-servicios {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            height: 24%;
            justify-content: flex-end;
  
            .cont-icono {
              width: 8%;
              height: 100%;
  
              .titulo-servicio {
                display: none;
              }
  
              .texto-icono {
                display: none;
              }
  
              .imgIcono {
                width: 100%;
                height: 100%;
                object-fit: contain;
              }
            }
  
            .tituloCategorias {
              display: flex;
              font-family: $tipoEspecial;
              align-items: center;
              text-transform: uppercase;
              text-align: center;
              font-size: calc(1em + 0.7vw);
              min-width: 12%;
              padding: 0 2%;
            }
          }
        }
  
        .imagen-superior {
          max-width: 50vw;
          margin: 0 auto;
  
          img {
            height: 100%;
            width: 100%;
            object-fit: contain;
          }
        }
      }
    }
  }
}